* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --nav_bg: rgb(0, 0, 30);
    --text_color: white;
    --nav_bg_mbl : rgb(0, 0, 30);
    --main_bg: #202020;
}

.light-mode {
    --nav_bg: white;
    --text_color: black;
    --main_bg: #1a1a1a1a;
}
body{
    background-color: var(--main_bg);
}
a {
    text-decoration: none;
}

.nav-top {
    background-color: var(--nav_bg);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centernav {
    width: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bars{
    display: none;
    color: white;
    cursor: pointer;
}

.logo {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    color: white;
    font-size: 25px;
}

.search-darktoggle {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.searchbox {
    width: 80%;
    display: flex;
    position: relative;
    border: 1px solid grey;
    border-radius: 5px;
}

.searchbox input {
    background-color: transparent;
    border: none;
    padding: 10px 5px;
    font-size: 17px;
    outline: none;
    color: var(--text_color);
    width: 92%;
}

.search_icon {
    position: absolute;
    color: var(--text_color);
    right: 8px;
    top: 10px;
    font-size: 17px;
    cursor: pointer;
}
.dark-light{
    width: 15%;
}
.dlBox{
    height: 30px;
    background-color: white;
    position: relative;
    display: block;
    border-radius: 15px;
    box-shadow: inset 0 5px 15px rgba(0, 0, 0, .4),
                inset 0 -5px 15px rgba(0, 0, 0, .4);
    cursor: pointer;
    transition: 1s;
}
.dlBox:after{
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    top: 1px;
    right: 1px;
    background: linear-gradient(180deg, black,  rgb(26, 0, 121));
    box-shadow: 0 0 10px black;
    border-radius: 28px;
    transition: .5s;
}
#darklight-toggle{
    width: 0;
    height: 0;
    display: none;
}
#darklight-toggle:checked + .dlBox {
    background-color: #242424;
}
#darklight-toggle:checked + .dlBox:after {
    left: 1px;
    background: linear-gradient(180deg, white,  #d8860b);
    box-shadow: 0 0 10px #d8860b;
}
.dlBox:active:after{
    width: 50px;
}
.nav-bottom{
    background-color: black;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
}
.links ul{
    display: flex;
    gap: 10px;
}
.links ul li{
    list-style: none;
    padding: 15px;
}
.links ul li:hover{
    background-color: rgb(51, 51, 51);
}
.links ul li a {
    color: white;
}
.random a{
    display: flex;
    gap: 5px;
    color: white;
    background-color: grey;
    padding: 5px 10px;
    border-radius: 3px;
}
.random a:hover{
    background-color: white;
    color: black;
}
.mainbody{
    width: 90%;
    background-color: blue;
    height: 1000px;
    margin: 0 auto;
    margin-top: 50px;

    display: flex;
    gap: 20px;
}
.post-body{
    width: 70%;
    height: 800px;
    background-color: red;
}
.swiper{
    width: 100%;
    height: 400px;
    background-color: green;
}
.popular-today{
    margin-top: 50px;
    width: 100%;
    height: 300px;
    background-color: yellow;
}
.posts{
    margin-top: 50px;
    width: 100%;
    background-color: black;
    height: 1000px;
}
.popular{
    background-color: whitesmoke;
    width: 30%;
    height: 500px;
}






































@media (max-width: 320px) {
    .nav-top{
        height: 40px;
        background-color: var(--nav_bg_mbl);
    }
    .nav-bottom{
        display: none;
    }
    .logo {
        width: 30px;
        height: 30px;
    }
    .logo h1 {
        font-size: 15px;
    }
    .search-darktoggle {
        width: 80%;
        gap: 10px;
    }
    .bars{
        display: block;
        color: white;
    }
    .searchbox input {
        padding: 5px;
        font-size: 13px;
        width: 90%;
    }
    .search_icon {
        right: 3px;
        top: 5px;
        font-size: 15px;
        color: white;
    }
    .dlBox{
        height: 20px;
    }
    .dlBox:after{
        width: 18px;
        height: 18px;
    }
    .dlBox:active:after{
        width: 0px;
    }
}